:root{
    --light-orange : #F2B705; 
    --brown : #40371C; 
    --orange : #F29F05; 
    --light : #F2F2F2; 
    --dark : #0D0D0D; 
    --a-ease: all .3s ease;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    background-color: var(--light);
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1{
    width: 320px;
    text-align: center;
    padding: 16px 32px;
    background-color: var(--orange);
    margin: 16px auto 0;
    border-radius: 16px;
    font-size: 3.2rem;
}
section{
    margin: 16px;
    margin-bottom: 54px;
}
section h2{
    font-size: 2.4rem;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--orange);
}

#randomCats .randomCats__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 16px;
    justify-content: center;
}
#randomCats .randomCats__container article{
    display: flex;
    flex-direction: column;
}
#randomCats .randomCats__container article img{
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: var(--a-ease);
    margin-bottom: 16px;
}
#randomCats .randomCats__container article:hover img{
    box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
}
.btn_f_save{
    background-color: var(--orange);
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    transition: var(--a-ease);
    font-size: 1.6rem;
    cursor: pointer;
}

.btn_f_save:hover{
    background-color: var(--light-orange);
}

